@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 0.7fr 1.8fr 0.9fr;
  grid-template-rows: 1fr 1.9fr 0.9fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar main announcements"
    "sidebar main trending";
  height: 100vh;
  gap: 5px;
  margin: 0px 0px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #0284c7;
  color: #ecf0f1;
  padding: 20px;
}

.branding h1 {
  font-size: 1.5rem;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  padding: 10px 0;
}

.header {
  grid-area: header;
  background-color: white;
  color: #000000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e2e8f0;
  width: 200%;
}

.user-info {
  display: flex;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2980b9;
  color: #ecf0f1;
  margin-right: 10px;
}

.main-content {
  grid-area: main;
  background-color: white;
  padding: 10px;
}

.group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.projects {
}

.project-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border-left: 10px solid orange; /* Add a thick orange line on the left */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow */

  flex: 1;
}

.sharepoints svg {
  width: 24px; /* Adjust the size of the icons */
  height: 24px;
}

.sharepoints {
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  display: flex;
  gap: 15px; /* Space between the SVG icons */
  flex-direction: row-reverse;
}

.announcements {
  grid-area: announcements;
  background-color: white;

  border-radius: 3px;
  margin-top: 30px;
}

.announcement-card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow */
}
.trending {
  grid-area: trending;
  background-color: white;
  padding: 10px;
}

hr {
  /* Increase margin for visibility */
  width: 80%;
  margin: 10px auto;
}

/* Media Queries for Responsiveness */

.navigation li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.navigation li i.material-icons {
  margin-right: 10px; /* Adjust this value as needed */
  font-size: 24px; /* Adjust the icon size if necessary */
}

.dashy {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  vertical-align: middle; /* Align with the text */
  margin-right: 10px; /* Space between icon and text */
}

.branding {
  margin-bottom: 20px;
}

.navigation li:nth-child(6) {
  margin-bottom: 20px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.group1 {
  display: flex;
  margin-bottom: 20px;
}

.combined {
  display: flex;
  justify-content: space-between;
}
.combined2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
}
.profile .champname {
  margin-right: 20px;
}

.header-buttons {
  display: flex;
  align-items: center;
}
.down {
  display: flex;
  flex-direction: column;
}

.hi-username {
  font-size: 1.5rem;
  font-weight: bold;
}
.hi-there {
  font-weight: bold;
}

.profile .champname {
  font-size: 1rem;
  font-weight: bold;
}

.profile .svg {
  height: 24px;
  width: 24px;
}
.group1 .material-icons {
  margin-right: 20px; /* Space between the icon and the search bar */
}

.group2 .profile svg {
  width: 24px; /* Set the width */
  height: 24px; /* Set the height */
  margin-right: 20px;
}

.trending-card img {
  width: 60px;
  height: 60px;
}

.smallicons {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.trending-card {
  display: flex;
  background-color: white;
  padding: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow */
  border-radius: 3px;
}
.trending-card img {
  margin-bottom: 5px;
}
